$darkbg: #0b0d16;
//$bg: #0d0f18;
$bg: #1A1B26;
$contrastbg: #0f111a;
$bgSecondary: #11131c;
$bgSecondaryAlt: #a5b6cf;
$fg: #a5b6cf;
$fgDim: #a5b6cf;
$watermelon: #dd6777;

// Aliases
$background: $bg;
$backgroundSecondary: $bgSecondary;
$backgroundSecondaryAlt: $bgSecondaryAlt;
$foreground: $fg;
$foregroundDim: $fgDim;

$black: #151720;
$dimblack: #1a1c25;
$lightblack: #262831;
$red: #dd6777;
$blue: #86aaec;
$cyan: #93cee9;
$blue-desaturated: #93cee9;
$magenta: #c296eb;
$purple: #c296eb;
$green: #00CC80;
$aquamarine: #90ceaa;
$yellow: #ecd3a0;
$accent: $blue;
$javacafeMagenta: #c296eb;
$javacafeBlue: #86aaec;
$putih: #FFFFFF;
$orange: #FFA500;
$kuning: #f2ed00;
$bluegray: #1e80d2;
$mussic: #343434;
$bg-alt: #24283b;
$amber: #FBC02D;
$grey: #8C8C8C;
$purple2: #6800d2;
$green2: #00ff00;
$red2: #f4155a;
$cyan2: #4DD0E1;

// [gruvbox] from bibjaws dotfiles
$gruv-black: #000000;
$gruv-dark: #1d1d1d;
$gruv-disabled: #262626; 
$gruv-red: #ea6962; 
$gruv-red-alt: #b22222; 
$gruv-orange: #fe8019; 
$gruv-orange-mat: #e78a4e; 
$gruv-yellow: #fabd2f; 
$gruv-yellow-mat: #d8a657; 
$gruv-green: #b8bb26; 
$gruv-green-alt: #98971a; 
$gruv-aqua: #8ec07c; 
$gruv-aqua-alt: #689d6a; 
$gruv-blue: #458588; 
$gruv-blue-alt: #83a598; 
$gruv-grey: #313131; 
$gruv-dark-grey: #222222; 
$gruv-cream: #fff4d2; 
$gruv-white: #FFFFFF; 
$gruv-transparent: #00000000; 
$gruv-Stransparent: #CC000000; 
